server {
    listen {{ nginx_port }} default_server;
    listen [::]:{{ nginx_port }} default_server;

    root {{ lh_src_path }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
